<div>
    <mat-toolbar *ngIf="!organizationShow ; else menu" class="organization-toolbar">
        <button mat-button style="background: #002659; " (click)="openDialog()">
      <strong class="material-icons" style="color:white;">add_circle</strong>
    </button>

        <span class="toolbar-text" translate>sidenav.organization</span>
    </mat-toolbar>
    <ng-template #menu>
        <div>
            <mat-toolbar [ngStyle]="{'position': menuShow === false ?  'absolute' : null,'margin-top': menuShow === false ?  '110%' : null}" class="organization-menu">
                <button  mat-button style="background: #002659; ">
                    <button class="mat-fab-menu " mat-mini-fab  >
                        <span class="abrevName">{{organizationNameAbrev}}</span> 
                    </button>
                    <span style="font-size: 20px;text-align: center;">{{organizationName}}</span>
                </button>
            
          
            </mat-toolbar>
        </div>
        
        <div *ngIf="menuShow === true;">
            <ul class="nav list" myAccordionNav mySlimScroll myHighlightActiveItems myAppendSubmenuIcon style="overflow-y:scroll;">
                <li>
                    <a [routerLink]="['/app/organization' ,organizationId ,'details']"  mat-button><em
                  class="nav-icon material-icons">edit</em><span style="color: black"
                  class="nav-text">Details</span>
              </a>
                </li>
                <li>
                    <a [routerLink]="['/app/organization',organizationId,'members']" mat-button><em
                  class="nav-icon material-icons">perm_identity</em><span style="color: black"
                  class="nav-text" translate>organization.membersTitle</span>
              </a>
                </li>
                <li>
                    <a [routerLink]="['/app/organization',organizationId,'teams']"  mat-button><em
                  class="nav-icon material-icons">supervisor_account</em><span style="color: black"
                  class="nav-text" translate>organization.teams</span>
              </a>
                </li>
            </ul>
        </div>
    </ng-template>
</div>
