.organization-toolbar , .organization-menu {
    background-color: #002659; 
    color:white; 
    height: auto;
}
.mat-fab-menu {
    background-color: white;
    width: 22px;
    height: 22px;
    margin-right: 20px;
}
.abrevName  {
    color: #002659;
    font-weight: bold;
    font-size: 11px;
    position: relative;
    top: -10px;
}
