<app-loader></app-loader>
<div class="page-auth">
  <div class="main-body">

    <div class="row justify-content-center">
      <div class="" style="background-color: transparent; padding:10px; margin-bottom: 0px">
        <a href="https://d1i6az5rm8wwls.cloudfront.net/">
          <div style="cursor: pointer;">
            <img style="vertical-align:middle; height: 50px;" src="../../../assets/images/logo/white-logo.png"
              alt="Code Once Logo">
            <span
              style="color: white; font-size: 50px; vertical-align:middle; font-family: 'Nunito', sans-serif;">&nbsp;
              Grizzly HUB</span>
          </div>
        </a>
      </div>
    </div>
    <br><br>
    <div class="card card-white">
      <h4 style="text-align: center">
        <span translate>auth.signin.title</span>
        <div style="float: right; position: absolute; right: 0; top: 0">
          <button mat-button [matMenuTriggerFor]="menu" class="md-button header-btn">
            <span *ngIf="!isFr" class="flag-icon flag-icon-fr"> </span><span *ngIf="isFr"
              class="flag-icon flag-icon-gb"></span>
            {{selectedLanguage}} <mat-icon>keyboard_arrow_down</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="isFr" (click)="setLang('fr')"><span class="flag-icon flag-icon-fr"></span>
              FR</button>
            <button mat-menu-item *ngIf="!isFr" (click)="setLang('en')"><span class="flag-icon flag-icon-gb"></span>
              EN</button>
          </mat-menu>
        </div>
      </h4>

      <div class="card-content">


        <form name="form" (ngSubmit)="ffLogin.form.valid" #ffLogin="ngForm">
          <div *ngIf="!resetPasswordBool">
            <div class="form-group">
              <mat-form-field class="full-width">
                <input required matInput type="email" name="email" placeholder="Email"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}" [(ngModel)]="email" autofocus>
                <mat-icon matSuffix class="material-icons">mail_outline</mat-icon>
              </mat-form-field>
            </div>
            <div class="form-group">
              <mat-form-field class="full-width">
                <input required matInput type="password" name="pass"
                  placeholder="{{ 'auth.signin.placeholder.password' | translate}}" [(ngModel)]="pass">
                <mat-icon matSuffix class="material-icons">lock_outline</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="resetPasswordBool && !successfulReset">
            <div class="form-group" *ngIf="resetPasswordBool">
              <p><span translate>auth.signin.errors.email</span></p>
              <mat-form-field class="full-width">
                <input required matInput type="email" name="email" placeholder="Email"
                  [(ngModel)]="emailToSendResetPass" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}" autofocus>
                <mat-icon matSuffix class="material-icons">mail_outline</mat-icon>
              </mat-form-field>

            </div>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="!logged && !successfulReset && !resetPasswordBool">
            <span translate>{{errorMessage}}</span>
          </div>

          <div class="alert alert-danger" role="alert" *ngIf="resetErrorMessage">
            <span translate>auth.reset.errors.notFound</span>
          </div>

          <div class="divider divider-md"></div>

          <a class="primaryColor" [routerLink]="" *ngIf="!resetPasswordBool" (click)="showResetPassword()"><span
              translate>auth.signin.forgotPass</span></a>

          <button mat-raised-button type="submit" color="primary" (click)="login()" class="float-right"
            [disabled]="ffLogin.form.invalid" *ngIf="!resetPasswordBool"><span translate>auth.signin.btn</span></button>


          <button mat-raised-button type="submit" color="primary" (click)="resetPassword()" class="float-right"
            [disabled]="ffLogin.form.invalid" *ngIf="resetPasswordBool && !successfulReset"><span
              translate>auth.signin.reset</span></button>

        </form>
        <div class="alert alert-success" role="alert" *ngIf="successfulReset">
          <span translate>auth.signin.errors.checkEmail</span>
        </div>


        <br><br>

        <div class="alert alert-danger" role="alert" *ngIf="githubLoginError">
            <span translate>github.emailExists</span>
          </div>
        <div style="text-align: center;">

          <br>
            <button mat-raised-button type="submit" color="primary" style="margin: auto;" (click)="githubLogin()">
              <span style="font-size: 20px;"><i class="fa fa-github" aria-hidden="true"></i></span>
              <span translate> github.login</span>
            </button>
        </div>


        <div class="divider divider-md"></div>

        <div class="additional-info">
          <span translate>auth.signin.account</span> <a [routerLink]="['/sign-up']"><span
              translate>auth.signin.signup</span></a>
          <span *ngIf="resetPasswordBool">&nbsp; | &nbsp;</span>
          <a *ngIf="resetPasswordBool" [routerLink]="['/login']" (click)="showResetPassword()"><span
              translate>auth.signin.btn</span></a>
        </div>


      </div>
    </div>
  </div>
</div>
