#progress-container{
  margin-left: 35%;
  margin-top: 20%;
}
#microservice-title{
  font-size: 18px;
}
#subsribedButton {
  width: 200px;background-color: #125495;color: white;
}
#subsribeButton {
  width: 170px;background-color: #125495;color: white;
}

#unsibsribeButton{
  width: 220px;background-color: #FFCC00;color: white;
}
#shareButton{
  width: 170px;background-color: #357EC7;color: white;
}
