<app-loader></app-loader>
<div class="page-auth">
    <div class="main-body">
        <div class="card card-white">
            <div class="card-content">
                <div class="logo">
                    <a><h4 translate>auth.reset.title</h4></a>
                    <div class="divider"></div>
                    <div style="float: right; position: absolute; right: 0; top: 0">
                        <button mat-button [matMenuTriggerFor]="menu" class="md-button header-btn">
                          <span *ngIf="!isFr" class="flag-icon flag-icon-fr"> </span><span *ngIf="isFr" class="flag-icon flag-icon-gb"></span> 
                         {{selectedLanguage}} <mat-icon>keyboard_arrow_down</mat-icon></button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item *ngIf="isFr" (click)="setLang('fr')"><span class="flag-icon flag-icon-fr"></span> FR</button>
                          <button mat-menu-item *ngIf="!isFr" (click)="setLang('en')"><span class="flag-icon flag-icon-gb"></span> EN</button>
                        </mat-menu></div>
                </div>

                <form [formGroup]="resetForm" *ngIf="!successfulReset">

                    <div class="form-group">
                        <mat-form-field class="full-width no-margin-bottom">
                            <input matInput type="password" name="password" formControlName="password"
                                placeholder="{{ 'auth.reset.placeholder.password' | translate }}" [(ngModel)]="password" required>
                            <mat-icon matSuffix class="material-icons">lock_outline</mat-icon>
                            <mat-error *ngIf="resetForm.hasError('required', 'password')">
                                <span translate>auth.reset.errors.password</span>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-form-field class="full-width no-margin-bottom">
                            <input matInput type="password" name="confirmPassword" formControlName="confirmPassword"
                                placeholder="{{ 'auth.reset.placeholder.confirmPassword' | translate }}" [(ngModel)]="confirmPassword"
                                [errorStateMatcher]="matcher" required>
                            <mat-icon matSuffix class="material-icons">lock_outline</mat-icon>
                            <mat-error *ngIf="resetForm.hasError('notSame')">
                                <span translate>auth.reset.errors.passwordMatch</span>
                            </mat-error>
                        </mat-form-field>
                    </div>

                </form>

                <div class="alert alert-success" role="alert" *ngIf="successfulReset">
                    <span translate>auth.reset.welcome1</span><a [routerLink]="['/login']">&nbsp;<span translate>auth.reset.login</span></a>&nbsp;<span translate>auth.reset.welcome2</span>
                </div>

                <button mat-raised-button type="submit" *ngIf="!successfulReset" color="primary" class="float-right" (click)="resetPassword()"
                    [disabled]="resetForm.invalid"><span translate>auth.reset.btn</span></button>
                <br><br><div class="divider divider-md"></div>

                <div class="additional-info">
                    <a [routerLink]="['/sign-up']"><span translate>auth.reset.signup</span></a>
                    <span>&nbsp; | &nbsp;</span>
                    <a [routerLink]="['/login']"><span translate>auth.reset.login</span></a>
                </div>


            </div>
        </div>
    </div>
</div>