<app-loader></app-loader>
<div class="container-fluid" tyle="text-align: center;height:100vh;position: relative;">
    <div>
        <form name="form" #f="ngForm">

            <h1 mat-dialog-title> <span style="margin-left: 38%;" translate>{{ data.action.msg }}</span></h1>

            <mat-horizontal-stepper #stepper>
                <div class="divider divider-md"></div>
                <mat-step #questionForm>
                    <ng-template matStepLabel style="color: #fff"><span translate>Details de Question</span>
                    </ng-template>
                    <div class="divider divider-md"></div>
                    <div class="container" style="height: 100%">
                        <div class="row">
                            <mat-form-field class="col-md-12">
                                <input required matInput [(ngModel)]="faqObj.questionTitle" #title="ngModel"
                                    placeholder="{{ 'popups.faq.placeholder.title' | translate}}" name="questionTitle">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-error *ngIf="title?.errors?.required && title?.touched">
                                    <span translate>popups.faq.errors.nullTitle</span>
                                </mat-error>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <mat-form-field class="col-md-12">
                                <textarea required matInput #response="ngModel" [(ngModel)]="faqObj.response"
                                    placeholder="{{ 'popups.faq.placeholder.response' | translate}}"
                                    name="response"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-error *ngIf="response?.errors?.required && response?.touched">
                                    <span translate>popups.faq.errors.nullResponse</span>
                                </mat-error>
                            </div>
                        </div>
                        <br>

                    </div>

                </mat-step>

            </mat-horizontal-stepper>

            <div class="divider divider-md"></div>
            <div class="box-body text-right">

                <button mat-raised-button type="button" class="btn-w-md" (click)="dialogRef.close()">
                    <span translate>popups.buttons.cancel</span></button>
                <span class="space"></span>
                <button mat-raised-button type="button" [disabled]="f.form.invalid " color="primary" class="btn-w-md"
                    (click)="Save()" id="confirm">
                    <span translate>popups.buttons.confirm</span></button>
            </div>



        </form>
    </div>

</div>