<section class="app-header">
    <div class="app-header-inner headerbar">

        <div class="d-lg-none d-xl-none float-left">
            <button mat-button myToggleOffcanvasNav class="md-button header-icon toggle-sidebar-btn">
        <em class="material-icons">menu</em>
      </button>
        </div>

        <div class="brand d-none d-lg-inline-block d-xl-inline-block">
            <h2><a [routerLink]="['/app/dashboard']">{{AppConfig.brand}}</a></h2>
        </div>



        <div class="top-nav-right">
            <ul class="list-unstyled float-right">
                <li>
                    <div *ngIf="firstName" class="md-button header-btn">
                        <span translate>header.welcome</span>&nbsp; {{ firstName }}
                    </div>
                </li>

                <li> <button mat-button [matMenuTriggerFor]="menu" class="md-button header-btn"> <span *ngIf="!isFr"
              class="flag-icon flag-icon-fr"> </span><span *ngIf="isFr" class="flag-icon flag-icon-gb"></span>
            {{selectedLanguage}} <mat-icon>keyboard_arrow_down</mat-icon></button>
                    <mat-menu #menu="matMenu"> <button mat-menu-item *ngIf="isFr" (click)="setLang('fr')"><span
                class="flag-icon flag-icon-fr"></span> FR</button> <button mat-menu-item *ngIf="!isFr" (click)="setLang('en')"><span class="flag-icon flag-icon-gb"></span> EN</button> </mat-menu>
                </li>
                <li *ngIf="anonymos">
                    <button style="margin-top: 20%;" mat-menu-item (click)="logout()"><span class="fa fa-sign-in"></span>&nbsp;
        </button>

                </li>
                <span [style.visibility]="!anonymos ? 'visible' : 'hidden'">
                <li>
                    <button mat-button [matMenuTriggerFor]="menu2" class="md-button header-btn" (click)="openNotif()" (menuClosed)="readNotif()">
            <span class="material-icons md-dark" [matBadge]="notificationNumber"
              [matBadgeHidden]="notificationNumber == 0" matBadgePosition="above after" matBadgeColor="warn">
              notifications
            </span>

                </button>
                <span [style.visibility]="!anonymos ? 'visible' : 'hidden'">
            <mat-menu #menu2="matMenu">
              <div style="padding: 5px 12px;">
                <span class="notif">
                  Notifications
                </span>
                <a (click)="clearAll()" class="clearAll">
                    <span translate>
                    notifications.clearAll
                  </span>
                </a>
        </div>
        <mat-divider></mat-divider>

        <div class="scroll-box">
            <div [hidden]="(this.newNotifications || {length: 0}).length == 0 " class='new-notifications'>
                <span translate>
                    notifications.NewNotif
                  </span>
            </div>
            <div [hidden]="(this.oldNotifications || {length: 0}).length != 0 || (this.newNotifications || {length: 0}).length !=0 " class="no-notif">
                <span translate>
                    notifications.NoNotif
                  </span>
            </div>

            <app-notification *ngFor="let notification of newNotifications" [notification]="notification">
            </app-notification>
            <div [hidden]=" this.oldNotifications.length ==0" class='new-notifications'>
                <span translate>
                    notifications.OldNotif
                  </span>
            </div>
            <mat-divider></mat-divider>
            <app-notification *ngFor="let notification of oldNotifications" [notification]="notification">
            </app-notification>
        </div>


        <mat-divider></mat-divider>
        <div class="notification-bottom new-notifications">
            <a [routerLink]="['/app/notification-list']" class="load-all">&nbsp;
                  <span translate>
                    notifications.LoadAll
                  </span>
                </a>
        </div>

        </mat-menu>
        </span>
        </li>
        </span>
        <li *ngIf="!anonymos">

            <button style="margin-top: 8%;" mat-menu-item class="md-button header-btn" [routerLink]="['/app/settings']"><span class="fa fa-cog"></span>&nbsp;
          </button>
        </li>

        <li *ngIf="!anonymos">
            <button style="margin-top: 20%;" mat-menu-item (click)="logout()"><span class="fa fa-sign-out"></span>&nbsp;
          </button>

        </li>
        <!-- <li *ngIf="anonymos">
            <button style="margin-top: 20%;" mat-menu-item (click)="logout()"><span class="fa fa-sign-in"></span>&nbsp;
          </button>

        </li> -->

        </ul>
    </div>

    </div>
</section>