<!-- <div>
    <mat-toolbar class="swagger-toolbar">
      <button mat-button style="background: #002659; ">
        <strong class="material-icons" style="color:white; ">add_circle</strong>
      </button>
      <span class="toolbar-text" translate>sidenav.swaggers</span>
    </mat-toolbar>
  </div> -->

<!-- <div class=" col-xs-3 col-sm-6" *ngFor="let swagger of swaggers" >
      <div class="box box-default">
        {{swagger.url}}
      </div>
    </div> -->

<!-- <div class="col-xl-3 col-sm-6">
  <div class="box box-default">
    <div class="box-top">
      <em class="material-icons color-success">all_inbox</em>
    </div>
    <div class="box-info">
      <span translate>dashboard.totalStored</span>
    </div>
    <div class="box-bottom">
      <span>{{analyticsData.data?.totalStored}} KB</span>
    </div>
  </div>
</div> -->